.font-danger-color {
  color: red;
}

.skeleton-header {
  color: white;
  background-color: orange !important;
}

.skeleton-footer {
  border-top: 1px dashed orange;
  margin-top: 30px;
  padding-top: 30px;
}

.skeleton-footer a {
  color: orange;
}
